$primaryColour: #1A315C; //Dark slate blue
$secondaryColour: #0CADC0; //Turquoise blue
$tertiaryColour: #CCEDFB; //Light sky blue
$quaternaryColour: #1E1713; //Black
$quinaryColour: #161515; //Black two
$accentColour: #FFFFFF; //White