$primaryColour: #21404f; //Dark slate blue
$secondaryColour: #0CADC0; //Turquoise blue
$tertiaryColour: #CCEDFB; //Light sky blue
$quaternaryColour: #111211; //Black
$quinaryColour: #161515; //Black two
$accentColour: #FFFFFF; //White