$primaryColour: #1A315C; //Dark slate blue
$secondaryColour: #0CADC0; //Turquoise blue
$tertiary-colour: #CCEDFB; //Light sky blue
$quaternary-colour: #1E1713; //Black
$quinary-colour: #161515; //Black two
$accent-colour: #FFFFFF; //White