//Home Header styles starts here
.homeHeader {
    background: url(../../assets/header-home.jpg) bottom right no-repeat fixed;
    background-size: cover;
    min-height: 700px;
}
//Home Header styles ends here
//Contact Header styles starts here
.contactHeader {
    background: url(../../assets/contact-header.jpg) center right no-repeat;
    background-size: cover;
    min-height: 400px;
}
//Contact Header styles ends here
//Blog Header styles starts here
.blogHeader {
    background: url(../../assets/blog-header.jpg) right no-repeat;
    background-size: contain;
    min-height: 450px; 
}
//Blog Header styles ends here
//General styles for all headers starts here
.blogHeader,
.contactHeader,
.homeHeader {
    padding-top: 20px;
    .wrapper {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .headerLinks {
            display: flex;
            justify-content: space-between;
            .logo {
                flex: 2 0 auto;
                width: 63%;
                a {
                    color: $primaryColour;
                    transition: color 0.3s;
                    &:hover {
                        color: $secondaryColour;
                    }
                }
            }
            ul {
                width: 37%;
                display: flex;
                justify-content: space-between;
                .hLink {
                    text-transform: uppercase;
                    color: $primaryColour;
                    transition: text-shadow 0.3s;
                    &:hover {
                        padding-bottom: 5px;
                        text-shadow: 1px 2px 1px $secondaryColour;
                        border-bottom: 2px solid $secondaryColour; 
                    }
                }
            } 
        }
    }
}
//General styles for all headers ends here