// Home Main styles starts here
.homeMain {
    background: $tertiaryColour;
    .newTechniquesContent {
        padding: 200px 0 100px;
        @media (max-width: 1070px) {
            padding: 80px 0;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            @media (max-width: 1070px) {
                flex-direction: column;
                align-items: center;
            }
        }
        .newTechniquesImage {
            width: 25%;
            order: 1;
            box-shadow: -16px 16px $secondaryColour;
            align-self: flex-start;
            object-fit: cover;
            @media (max-width: 1070px) {
                order: 0;
                box-shadow: none;
                align-self: initial;
            }
            @media (max-width: 1036px) {
                width: 30%;
            }
            @media (max-width: 880px) {
                width: 40%;
            }
            @media (max-width: 610px) {
                width: 50%;
            }
            @media (max-width: 540px) {
                width: 60%;
            }
            @media (max-width: 420px) {
                width: 70%;
            }
        }
        .newTechniquesDescription {
            width: 64%;
            @media (max-width: 1070px) {
                text-align: center;
            }
            @media (max-width: 610px) {
                width: 90%;
            }
        }
        h3 {
            margin: 5px 0 10px;
            @media (max-width: 1070px) {
                margin-top: 20px;
                font-size: 2rem;
            }
            @media (max-width: 700px) {
                font-size: 1.75rem;
            }
            @media (max-width: 540px) {
                font-size: 1.2rem;
            }
            @media (max-width: 325px) {
                line-height: 30px;
            }
        }
        p {
            font-size: 0.8rem;
            @media (max-width: 540px) {
                font-size: 0.7rem;
            }
        };
    }
    .findOutMore {
        border: none;
        background: $primaryColour;
        color: $accentColour;
        margin-top: 40px;
        padding: 5px 30px 10px;
        transition: background 0.3s, text-shadow 0.8s;
        &:hover {
            background: $secondaryColour;
            text-shadow: 2px 2px 1px $primaryColour;
        }
        @media (max-width: 1070px) {
            font-size: 0.8rem;
            margin-top: 20px;
        }
        @media (max-width: 540px) {
            font-size: 0.7rem;
        }
    }
    .galleryContent {
        background: $primaryColour;
        padding: 100px 0;
        @media (max-width: 1070px) {
            padding: 80px 0;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            @media (max-width: 880px) {
                flex-direction: column;
                justify-content: initial;
                align-items: center;
            }
        }
        .galleryImage {
            width: 31.5%;
            object-fit: cover;
            overflow: hidden;
            @media (max-width: 880px) {
                width: 40%;
            }
            @media (max-width: 610px) {
                width: 50%;
            }
            @media (max-width: 540px) {
                width: 60%;
            }
            @media (max-width: 420px) {
                width: 70%;
            }
            &:nth-of-type(2) {
                @media (max-width: 880px) {
                    margin: 30px 0;
                }
            }
        }
        img {
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .serviceInfoContent {
        padding: 100px 0 150px;
        @media (max-width: 1070px) {
            padding: 80px 0;
        }
        @media (max-width: 540px) {
            padding: 0 0 80px;
        }
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 940px) {
                flex-direction: column;
                align-content: center;
            }
        }
        .serviceInfo {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: 940px) {
                flex-direction: column;
                justify-content: initial;
                align-items: center;
                width: 60%;
                margin-top: 50px;
            }
            @media (max-width: 540px) {
                width: 80%;
            }
        }
        .serviceInfoDescription {
            width: 89%;
            @media (max-width: 940px) {
                width: 100%;
                text-align: center;
            }
        }
        .serviceIcon {
            margin-top: 10px;
            padding: 8px 11px;
            border-radius: 30px;
            font-size: 1rem;
            color: $accentColour;
            background: $secondaryColour;
            transition: bottom 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
            &:hover {
                position: relative;
                bottom: 5px;
                box-shadow: 0 6px 20px $quaternaryColour;
                text-shadow: 2px 2px 1px $primaryColour;
                color: $tertiaryColour;
            }
        }
        h3 {
            margin: 0 0 8px;
            @media (max-width: 1070px) {
                font-size: 1.75rem;
            }
            @media (max-width: 540px) {
                font-size: 1.2rem;
                line-height: 40px;
            }
        }
        p {
            line-height: 26px;
            @media (max-width: 1070px) {
                font-size: 0.8rem;
            }
            @media (max-width: 540px) {
                font-size: 0.7rem;
            }
        } 
    }
    .featuredContent {
        background: $primaryColour;
        .featuredContent1,
        .featuredContent2  {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: 1027px) {
                flex-direction: column;
                align-content: center;
                justify-content: initial;
            }
        }
        .featuredContent1 .featuredContentImage {
            position: relative;
            bottom: 50px;
            right: 136px;
            box-shadow: 15px 15px $secondaryColour;
            @media (max-width: 1070px) {
                box-shadow: none;
                position: initial;
            }
        }
        .featuredContent1 .featuredContentDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media (max-width: 1070px) {
                padding-left: 20px;
            }
            @media (max-width: 1027px) {
                text-align: center;
                align-items: center;
            }
        }
        .featuredContent2 .featuredContentImage {
            position: relative;
            left: 136px;
            top: 50px;
            box-shadow: -15px 15px $secondaryColour;
            @media (max-width: 1070px) {
                box-shadow: none;
                position: initial;
            }
        }
        .featuredContent2 .featuredContentDescription {
            order: -1;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @media (max-width: 1070px) {
                padding-right: 20px;
            }
            @media (max-width: 1027px) {
                padding: 0;
                order: 0;
                text-align: center;
                align-items: center;
            }
        }
        .featuredContentImage {
            width: 55%;
            object-fit: cover;
            @media (max-width: 1070px) {
                width: 50%;
            }
            @media (max-width: 1027px) {
                width: 100%;
            }
        }
        .featuredContentDescription {
            width: 42.5%;
            @media (max-width: 1070px) {
                width: 50%;
            }
            @media (max-width: 1027px) {
                width: 80%;
                margin: 50px auto;
            }
        }
        h5 {
            color: $accentColour;
            margin: 0;
            @media (max-width: 1070px) {
                font-size: 1.75rem;
                margin: 5px 0;
                line-height: 45px;
            }
            @media (max-width: 640px) {
                font-size: 1.2rem;
                line-height: 30px;
            }
        }
        p {
            color: $accentColour;
            @media (max-width: 1070px) {
                font-size: 0.8rem;
            }
            @media (max-width: 1027px) {
                margin: 10px 0;
            }
            @media (max-width: 540px) {
                font-size: 0.7rem;
            }
        }
        .readMore {
            border: none;
            background: $tertiaryColour;
            padding: 5px 20px;
            margin-top: 10px;
            transition: text-shadow 0.8s, color 0.3s;
            &:hover {
                text-shadow: 2px 2px 1px $primaryColour;
            }
            @media (max-width: 1070px) {
                font-size: 0.8rem;
            }
            @media (max-width: 540px) {
                font-size: 0.7rem;
            }
        }
    }
    .bannerContent {
        background: url(../../assets/banner.jpg) center no-repeat;
        background-size: cover;
        min-height: 500px;
        padding: 1px;
        @media (max-width: 1070px) {
            min-height: 400px;
        }
    }
    .searchStyleContent {
        padding: 100px 0 150px;
        @media (max-width: 1070px) {
            padding: 80px 0;
            width: 70%;
            margin: 0 auto;
        }
        @media (max-width: 540px) {
            width: 100%;
        }
        .searchStyleDescription {
            text-align: center; 
        }
        h3 {
            margin: 0;
            @media (max-width: 1070px) {
                font-size: 1.75rem;
            }
            @media (max-width: 540px) {
                font-size: 1.2rem;
            }
        }
        p {
            margin: 10px 0;
            @media (max-width: 1070px) {
                font-size: 0.8rem;
            }
            @media (max-width: 540px) {
                font-size: 0.7rem;
            }
        }
    }
}
//Home Main styles ends here
//Contact Main styles starts here
.contactMain {
    background: $tertiaryColour;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 720px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .customerService {
        width: 75%;
        background: $primaryColour;
        padding: 35px 50px;
        position: relative;
        box-shadow: 20px 20px $secondaryColour;
        bottom: 120px;
        right: 55px;
        @media (max-width: 720px) {
            position: initial;
            box-shadow: none;
            width: 85%;
        }
        @media (max-width: 560px) {
            padding: 35px 25px;
            width: 90%;
        }
        form {
            @media (max-width: 560px) {
                font-size: 0.7rem;
            }
        }
        .name {
            color: $accentColour;
            &:hover {
                border-bottom: 1px solid $tertiaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $secondaryColour;
                color: $accentColour;
            }
        }
        .message {
            color: $accentColour;
            &:hover {
                border: 1px solid $tertiaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $secondaryColour;
                color: $accentColour;
            }
        }
        .submit {
            background: $tertiaryColour;
            transition: text-shadow 0.8s, background 0.3s, color 0.3s;
            &:hover {
                color: $accentColour;
                text-shadow: 2px 2px 1px $primaryColour;
                background: $secondaryColour;
            }
            @media (max-width: 560px) {
                font-size: 0.7rem;
            }
        }
    }
    .contactInfo {
        width: 20%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 720px) {
            width: 85%;
            align-self: initial;
            margin: 20px 0;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 60%;
            @media (max-width: 720px) {
                width: 100%;
                justify-content: space-evenly;
            }
        }
        .socialMediaLink {
            color: $primaryColour;
            &:hover {
                text-shadow: 2px 2px 1px $secondaryColour;
            }
        }
        p {
            margin: 0;
            line-height: 18px;
            font-size: 0.7rem;
            &:nth-of-type(1) {
                margin: 10px 0;
            }
            @media (max-width: 720px) {
                font-size: 0.8rem;
                line-height: 22px;
                text-align: center;
            }
            @media (max-width: 560px) {
                font-size: 0.7rem;
            }
        }
        
    }
}
//Contact Main styles ends here
// Blog Main styles starts here
.blogMain {
    background: $tertiaryColour;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        @media (max-width: 960px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .blogPost {
        width: 75%;
        background: $primaryColour;
        position: relative;
        right: 136px;
        box-shadow: 0 0 0 15px $secondaryColour;
        @media (max-width: 1080px) {
            position: initial;
            box-shadow: none;
        }
        @media (max-width: 960px) {
            width: 60%;
        }
        @media (max-width: 360px) {
            width: 90%;
        }
        .blogPostImage {
            box-shadow: 25px 20px $secondaryColour;
            position: relative;
            bottom: 75px;
            right: 10px;
            object-fit: cover;
            @media (max-width: 1080px) {
                box-shadow: none;
                position: initial;
            }
        }
        .blogPostDescription {
            padding: 0 30px 50px 135px;
            @media (max-width: 1080px) {
                padding: 0 0 0 10px;
            }
            @media (max-width: 960px) {
                padding: 0 10px 10px 10px;
            }
        }
        h3 {
            color: $accentColour;
            margin: 0 0 10px;
            @media (max-width: 960px) {
                text-align: center;
            }
            @media (max-width: 710px) {
                font-size: 1.75rem;
            }
            @media (max-width: 360px) {
                font-size: 1.2rem;
            }
        }
        p {
            color: $accentColour;
            margin: 0 0 20px;
            font-size: 0.8rem;
            @media (max-width: 710px) {
                font-size: 0.7rem;
            }
        }
    }
    .newsContent {
        width: 25%;
        background: $primaryColour;
        position: relative;
        left: 135px;
        top: 200px;
        padding: 0 0 15px 10px;
        @media (max-width: 1330px) {
            left: 0;
        }
        @media (max-width: 1080px) {
            position: initial;
        }
        @media (max-width: 960px) {
            margin-top: 50px;
            width: 60%;
            padding: 0;
        }
        @media (max-width: 360px) {
            width: 90%;
        }
        .newsContentImage {
            position: relative;
            bottom: 20px;
            object-fit: cover;
            @media (max-width: 1080px) {
                position: initial;
            }
        }
        .newsPost {
            @media (max-width: 960px) {
                width: 90%;
                padding: 30px 0;
                margin: 0 auto;
            }
        }
        .missionDescription {
            @media (max-width: 960px) {
                text-align: center;
            }
        }
        .recentPostDescription {
            @media (max-width: 960px) {
                margin-top: 50px;
            }
        }
        h6 {
            color: $accentColour;
            margin: 5px 0 0;
            @media (max-width: 960px) {
                text-align: center;
            }
            @media (max-width: 360px) {
                font-size: 1.1rem;
            }
        }
        .recentPostsList {
            @media (max-width: 960px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
        li {
            list-style-type: disc;
            color: $accentColour;
            margin-left: 25px;
            @media (max-width: 960px) {
                margin: 0;
                width: 40%;
            }
        }
        p {
            color: $accentColour;
            margin: 0;
            font-size: 0.7rem;
            line-height: 20px;
        }
    }
    .comments {
        width: 75%;
        margin-bottom: 100px;
        @media (max-width: 960px) {
            width: 60%;
        }
        @media (max-width: 360px) {
            width: 90%;
        }
        h4 {
            text-transform: capitalize;
            margin: 30px 0 0;
            @media (max-width: 720px) {
                font-size: 1.75rem;
            }
            @media (max-width: 360px) {
                font-size: 1.2rem;
            }
        }
        .userComment {
            display: flex;
            margin: 20px 0 100px;
            @media (max-width: 940px) {
                flex-direction: column;
                align-items: center;
            }
        }
        .userComment:nth-of-type(2) {
            margin-bottom: 30px;
        }
        .userImage {
            width: 10%;
            object-fit: cover;
            @media (max-width: 940px) {
                width: 30%;
            }
            @media (max-width: 500px) {
                width: 50%;
            }
        }
        .userCommentDescription{
            width: 90%;
            padding: 0 140px 0 20px;
            @media (max-width: 960px) {
                padding: 0 0 0 20px;
            }
            @media (max-width: 940px) {
                width: 100%;
            }
        } 
        p:nth-of-type(1) {
            font-weight: bold;
            margin-top: 5px;
        }
        p {
            font-size: 0.8rem;
            line-height: 23px;
            @media (max-width: 710px) {
                font-size: 0.7rem;
            }
        }
        form {
            width: 80%;
            @media (max-width: 960px) {
                width: 100%;
            }
            @media (max-width: 720px) {
                font-size: 0.7rem;
            }
            @media (max-width: 560px) {
                flex-direction: column;
            }
        }
        .name {
            color: $quaternaryColour;
            font-size: 0.8rem;
            &:hover {
                border-bottom: 1px solid $primaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $primaryColour;
                color: $quaternaryColour;
            }
            @media (max-width: 720px) {
                font-size: 0.7rem;
            }
        }
        .message {
            color: $quaternaryColour;
            font-size: 0.8rem;
            &:hover {
                border: 1px solid $primaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $primaryColour;
                color: $quaternaryColour;
            }
            @media (max-width: 720px) {
                font-size: 0.7rem;
            }
        }
        .submit {
            padding: 5px 0;
            background: $primaryColour;
            color: $accentColour;
            transition: text-shadow 0.8s, background 0.3s;
            &:hover {
                text-shadow: 2px 2px 1px $primaryColour;
                background: $secondaryColour;
            }
            @media (max-width: 720px) {
                font-size: 0.7rem;
            }
        }
    }
}
// Blog Main styles ends here
