// Home Main styles starts here
.bannerContent {
    background: url(../../assets/banner.jpg) center no-repeat;
    background-size: contain;
    min-height: 500px;
    padding: 1px;
}
//Home Main styles ends here
//Contact Main styles starts here

//Contact Main styles ends here
// Blog Main styles starts here

// Blog Main styles ends here
