// Home Main styles starts here
.bannerContent {
    background: url(../../assets/banner.jpg) center no-repeat;
    background-size: contain;
    min-height: 500px;
    padding: 1px;
}
//Home Main styles ends here
//Contact Main styles starts here
.contactMain {
    background: $tertiaryColour;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 720px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .customerService {
        width: 75%;
        background: $primaryColour;
        padding: 35px 50px;
        position: relative;
        box-shadow: 20px 20px $secondaryColour;
        bottom: 120px;
        right: 55px;
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: 560px) {
                flex-direction: column;
            }
        }
        .name {
            padding: 20px 0 15px 20px;
            width: 45%;
            background: none;
            border: none;
            border-bottom: 1px solid $secondaryColour;
            color: $accentColour;
            transition: opacity 0.3s;
            &:hover {
                border-bottom: 1px solid $tertiaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $secondaryColour;
                color: $accentColour;
            }
            @media (max-width: 560px) {
                width: 100%;
            }
            @media (max-width: 420px) {
                padding: 20px 10px 15px 10px;
            }
        }
        .emailAddress {
            @extend .name;
        }
        .message {
            resize: none;
            margin-top: 30px;
            padding: 20px 0 15px 20px;
            width: 100%;
            color: $accentColour;
            background: none;
            border: 1px solid $secondaryColour;
            transition: opacity 0.3s;
            &:hover {
                border-bottom: 1px solid $tertiaryColour;
                opacity: 0.5;
            }
            &:focus {
                border-bottom: 1px solid $secondaryColour;
                color: $accentColour;
            }
            @media (max-width: 420px) {
                padding: 20px 10px 15px 10px;
            }
        }
        .submit {
            @include fontSize1(1rem);
            margin-top: 30px;
            background: $accentColour;
            width: 100%;
            border: none;
            transition: text-shadow 0.8s, background 0.3s;
            &:hover {
                text-shadow: 2px 1px 1px $secondaryColour;
                background: $tertiaryColour;
            }
        }
        @media (max-width: 720px) {
            position: initial;
            box-shadow: none;
            width: 85%;
        }
        @media (max-width: 560px) {
            padding: 35px 25px;
        }
    }
    .contactInfo {
        width: 20%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            display: flex;
            justify-content: space-between;
            width: 60%;
            @media (max-width: 720px) {
                width: 100%;
                justify-content: space-evenly;
            }
        }
        .socialMediaLink {
            color: $primaryColour;
            &:hover {
                text-shadow: 2px 2px 1px $secondaryColour;
            }
        }
        p {
            margin: 0;
            line-height: 18px;
            @include fontSize2(0.7rem);
            &:nth-of-type(1) {
                margin: 10px 0;
            }
            @media (max-width: 720px) {
                font-size: 0.8rem;
                line-height: 22px;
                text-align: center;
            }
        }
        @media (max-width: 720px) {
            width: 85%;
            align-self: initial;
            margin: 20px 0;
        }
    }
}
//Contact Main styles ends here
// Blog Main styles starts here

// Blog Main styles ends here
