article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px 5px;
  display: none;
  cursor: pointer;
  color: #21404f;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.8; }
  .hamburger.isActive {
    position: fixed;
    background: #0CADC0;
    top: 0;
    right: 0;
    padding-top: 25px; }
    .hamburger.isActive:hover {
      opacity: 0.8; }
    .hamburger.isActive .hamburgerInner,
    .hamburger.isActive .hamburgerInner::before,
    .hamburger.isActive .hamburgerInner::after {
      background-color: #21404f; }
  @media (max-width: 720px) {
    .hamburger {
      display: block; } }

.hamburgerBox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburgerInner, .hamburgerInner::before, .hamburgerInner::after {
    width: 40px;
    height: 4px;
    background-color: #21404f;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburgerInner::before, .hamburgerInner::after {
    content: "";
    display: block; }
  .hamburgerInner::before {
    top: -10px; }
  .hamburgerInner::after {
    bottom: -10px; }

/*
   * Emphatic
   */
.hamburgerEmphatic {
  overflow: hidden; }
  .hamburgerEmphatic .hamburgerInner {
    -webkit-transition: background-color 0.125s 0.175s ease-in;
    -o-transition: background-color 0.125s 0.175s ease-in;
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburgerEmphatic .hamburgerInner::before {
      left: 0;
      -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .hamburgerEmphatic .hamburgerInner::after {
      top: 10px;
      right: 0;
      -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburgerEmphatic.isActive .hamburgerInner {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
    .hamburgerEmphatic.isActive .hamburgerInner::before {
      left: -80px;
      top: -80px;
      -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburgerEmphatic.isActive .hamburgerInner::after {
      right: -80px;
      top: -80px;
      -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

html {
  font-size: 125%; }

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.4rem;
  color: #21404f;
  line-height: 64px;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto; }
  @media (max-width: 375px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.9rem;
  color: #21404f;
  line-height: 68px;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto; }
  @media (max-width: 810px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.15rem;
  color: #21404f;
  line-height: 58px;
  letter-spacing: 2.7px; }

h4 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #21404f;
  letter-spacing: 4.3px; }

h5 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #21404f;
  text-align: right;
  line-height: 58px;
  letter-spacing: 2.5px; }

h6 {
  font-family: 'Pacifico', cursive;
  font-size: 1.3rem;
  color: #21404f;
  letter-spacing: 2.9px; }

nav {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: '700';
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #21404f;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0; }

button {
  font-family: 'Pacifico', cursive;
  font-size: 1.35rem;
  color: #21404f;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px; }

img {
  width: 100%;
  display: block; }

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: #21404f;
  line-height: 24px;
  letter-spacing: 1.7px;
  text-align: left;
  text-transform: capitalize; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid tomato; }

.homeHeader {
  background: url(../../assets/header-home.jpg) bottom right no-repeat;
  min-height: 700px; }

.contactHeader {
  background: url(../../assets/contact-header.jpg) center right no-repeat;
  min-height: 400px; }
  @media (max-width: 375px) {
    .contactHeader h1 {
      line-height: 90px; } }

.blogHeader {
  background: url(../../assets/blog-header.jpg) right no-repeat;
  min-height: 400px; }
  .blogHeader h1 {
    margin: 80px 0 0; }

.blogHeader,
.contactHeader,
.homeHeader {
  background-size: cover;
  padding-top: 10px; }
  .blogHeader .wrapper,
  .contactHeader .wrapper,
  .homeHeader .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blogHeader .wrapper .headerLinks,
    .contactHeader .wrapper .headerLinks,
    .homeHeader .wrapper .headerLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative; }
      @media (max-width: 720px) {
        .blogHeader .wrapper .headerLinks .menu.show,
        .contactHeader .wrapper .headerLinks .menu.show,
        .homeHeader .wrapper .headerLinks .menu.show {
          margin: 0;
          display: block;
          background: #0CADC0;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 65%;
          padding: 50px;
          border-bottom-left-radius: 50px; } }
  @media (max-width: 720px) and (max-width: 560px) {
    .blogHeader .wrapper .headerLinks .menu.show,
    .contactHeader .wrapper .headerLinks .menu.show,
    .homeHeader .wrapper .headerLinks .menu.show {
      padding: 50px 30px 30px; } }
      @media (max-width: 720px) {
        .blogHeader .wrapper .headerLinks li,
        .contactHeader .wrapper .headerLinks li,
        .homeHeader .wrapper .headerLinks li {
          margin-bottom: 16px;
          -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: -webkit-transform 0.3s ease-in-out;
          -o-transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
          .blogHeader .wrapper .headerLinks li:hover,
          .contactHeader .wrapper .headerLinks li:hover,
          .homeHeader .wrapper .headerLinks li:hover {
            opacity: 0.6;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); } }
      .blogHeader .wrapper .headerLinks .logo,
      .contactHeader .wrapper .headerLinks .logo,
      .homeHeader .wrapper .headerLinks .logo {
        -webkit-box-flex: 3;
        -ms-flex: 3 0 auto;
        flex: 3 0 auto; }
        @media (max-width: 720px) {
          .blogHeader .wrapper .headerLinks .logo,
          .contactHeader .wrapper .headerLinks .logo,
          .homeHeader .wrapper .headerLinks .logo {
            margin-bottom: 16px; } }
        .blogHeader .wrapper .headerLinks .logo a,
        .contactHeader .wrapper .headerLinks .logo a,
        .homeHeader .wrapper .headerLinks .logo a {
          color: #21404f;
          -webkit-transition: color 0.3s;
          -o-transition: color 0.3s;
          transition: color 0.3s; }
          .blogHeader .wrapper .headerLinks .logo a:hover,
          .contactHeader .wrapper .headerLinks .logo a:hover,
          .homeHeader .wrapper .headerLinks .logo a:hover {
            color: #0CADC0; }
      .blogHeader .wrapper .headerLinks .menu,
      .contactHeader .wrapper .headerLinks .menu,
      .homeHeader .wrapper .headerLinks .menu {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 11px; }
        @media (max-width: 720px) {
          .blogHeader .wrapper .headerLinks .menu,
          .contactHeader .wrapper .headerLinks .menu,
          .homeHeader .wrapper .headerLinks .menu {
            display: none; } }
        .blogHeader .wrapper .headerLinks .menu .hLink,
        .contactHeader .wrapper .headerLinks .menu .hLink,
        .homeHeader .wrapper .headerLinks .menu .hLink {
          text-transform: uppercase;
          color: #21404f;
          -webkit-transition: text-shadow 0.3s;
          -o-transition: text-shadow 0.3s;
          transition: text-shadow 0.3s; }
          .blogHeader .wrapper .headerLinks .menu .hLink:hover,
          .contactHeader .wrapper .headerLinks .menu .hLink:hover,
          .homeHeader .wrapper .headerLinks .menu .hLink:hover {
            padding-bottom: 5px;
            text-shadow: 1px 2px 1px #0CADC0;
            border-bottom: 2px solid #0CADC0; }

.bannerContent {
  background: url(../../assets/banner.jpg) center no-repeat;
  background-size: contain;
  min-height: 500px;
  padding: 1px; }

.contactMain {
  background: #CCEDFB; }
  .contactMain .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 720px) {
      .contactMain .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .contactMain .customerService {
    width: 75%;
    background: #21404f;
    padding: 35px 50px;
    position: relative;
    -webkit-box-shadow: 20px 20px #0CADC0;
    box-shadow: 20px 20px #0CADC0;
    bottom: 120px;
    right: 55px; }
    @media (max-width: 720px) {
      .contactMain .customerService {
        position: initial;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 85%; } }
    @media (max-width: 560px) {
      .contactMain .customerService {
        padding: 35px 25px;
        width: 90%; } }
    .contactMain .customerService form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 560px) {
        .contactMain .customerService form {
          font-size: 0.7rem;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .contactMain .customerService .name, .contactMain .customerService .emailAddress {
      padding: 20px 0 15px 20px;
      width: 45%;
      background: none;
      border: none;
      border-bottom: 1px solid #0CADC0;
      color: #FFFFFF;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .contactMain .customerService .name:hover, .contactMain .customerService .emailAddress:hover {
        border-bottom: 1px solid #CCEDFB;
        opacity: 0.5; }
      .contactMain .customerService .name:focus, .contactMain .customerService .emailAddress:focus {
        border-bottom: 1px solid #0CADC0;
        color: #FFFFFF; }
      @media (max-width: 560px) {
        .contactMain .customerService .name, .contactMain .customerService .emailAddress {
          width: 100%; } }
      @media (max-width: 420px) {
        .contactMain .customerService .name, .contactMain .customerService .emailAddress {
          padding: 20px 10px 15px 10px; } }
    .contactMain .customerService .message {
      resize: none;
      margin-top: 30px;
      padding: 20px 0 15px 20px;
      width: 100%;
      color: #FFFFFF;
      background: none;
      border: 1px solid #0CADC0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .contactMain .customerService .message:hover {
        border: 1px solid #CCEDFB;
        opacity: 0.5; }
      .contactMain .customerService .message:focus {
        border-bottom: 1px solid #0CADC0;
        color: #FFFFFF; }
      @media (max-width: 420px) {
        .contactMain .customerService .message {
          padding: 20px 10px 15px 10px; } }
    .contactMain .customerService .submit {
      font-family: 'Pacifico', cursive;
      font-size: 1rem;
      color: #21404f;
      margin-top: 30px;
      background: #FFFFFF;
      width: 100%;
      border: none;
      -webkit-transition: text-shadow 0.8s, background 0.3s;
      -o-transition: text-shadow 0.8s, background 0.3s;
      transition: text-shadow 0.8s, background 0.3s; }
      .contactMain .customerService .submit:hover {
        text-shadow: 2px 1px 1px #0CADC0;
        background: #CCEDFB; }
      @media (max-width: 560px) {
        .contactMain .customerService .submit {
          font-size: 0.7rem; } }
  .contactMain .contactInfo {
    width: 20%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 720px) {
      .contactMain .contactInfo {
        width: 85%;
        -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
        margin: 20px 0; } }
    .contactMain .contactInfo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 60%; }
      @media (max-width: 720px) {
        .contactMain .contactInfo ul {
          width: 100%;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly; } }
    .contactMain .contactInfo .socialMediaLink {
      color: #21404f; }
      .contactMain .contactInfo .socialMediaLink:hover {
        text-shadow: 2px 2px 1px #0CADC0; }
    .contactMain .contactInfo p {
      margin: 0;
      line-height: 18px;
      font-size: 0.7rem; }
      .contactMain .contactInfo p:nth-of-type(1) {
        margin: 10px 0; }
      @media (max-width: 720px) {
        .contactMain .contactInfo p {
          font-size: 0.8rem;
          line-height: 22px;
          text-align: center; } }
      @media (max-width: 560px) {
        .contactMain .contactInfo p {
          font-size: 0.7rem; } }

.blogMain {
  background: #CCEDFB; }
  .blogMain .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media (max-width: 960px) {
      .blogMain .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .blogMain .blogPost {
    width: 75%;
    background: #21404f;
    position: relative;
    right: 136px;
    -webkit-box-shadow: 0 0 0 15px #0CADC0;
    box-shadow: 0 0 0 15px #0CADC0; }
    @media (max-width: 1080px) {
      .blogMain .blogPost {
        position: initial;
        -webkit-box-shadow: none;
        box-shadow: none; } }
    @media (max-width: 960px) {
      .blogMain .blogPost {
        width: 60%; } }
    @media (max-width: 360px) {
      .blogMain .blogPost {
        width: 90%; } }
    .blogMain .blogPost .blogPostImage {
      -webkit-box-shadow: 25px 20px #0CADC0;
      box-shadow: 25px 20px #0CADC0;
      position: relative;
      bottom: 75px;
      right: 10px; }
      @media (max-width: 1080px) {
        .blogMain .blogPost .blogPostImage {
          -webkit-box-shadow: none;
          box-shadow: none;
          position: initial; } }
    .blogMain .blogPost .blogPostDescription {
      padding: 0 30px 50px 135px; }
      @media (max-width: 1080px) {
        .blogMain .blogPost .blogPostDescription {
          padding: 0 0 0 10px; } }
      @media (max-width: 960px) {
        .blogMain .blogPost .blogPostDescription {
          padding: 0 10px 10px 10px; } }
    .blogMain .blogPost h3 {
      color: #FFFFFF;
      margin: 0 0 10px; }
      @media (max-width: 710px) {
        .blogMain .blogPost h3 {
          font-size: 1.75rem;
          text-align: center; } }
      @media (max-width: 360px) {
        .blogMain .blogPost h3 {
          font-size: 1.2rem; } }
    .blogMain .blogPost p {
      color: #FFFFFF;
      margin: 0 0 20px;
      font-size: 0.8rem; }
      @media (max-width: 710px) {
        .blogMain .blogPost p {
          font-size: 0.7rem; } }
  .blogMain .newsContent {
    width: 25%;
    background: #21404f;
    position: relative;
    left: 135px;
    top: 200px;
    padding: 0 0 15px 10px; }
    @media (max-width: 1330px) {
      .blogMain .newsContent {
        left: 0; } }
    @media (max-width: 1080px) {
      .blogMain .newsContent {
        position: initial; } }
    @media (max-width: 960px) {
      .blogMain .newsContent {
        margin-top: 50px;
        width: 60%;
        padding: 0; } }
    @media (max-width: 360px) {
      .blogMain .newsContent {
        width: 90%; } }
    .blogMain .newsContent .newsContentImage {
      position: relative;
      bottom: 20px; }
      @media (max-width: 1080px) {
        .blogMain .newsContent .newsContentImage {
          position: initial; } }
    @media (max-width: 960px) {
      .blogMain .newsContent .newsPost {
        padding: 0 10px 10px 10px; } }
    .blogMain .newsContent h6 {
      color: #FFFFFF;
      margin: 5px 0 0; }
      @media (max-width: 360px) {
        .blogMain .newsContent h6 {
          font-size: 1.1rem; } }
    .blogMain .newsContent li {
      list-style-type: disc;
      color: #FFFFFF;
      margin-left: 25px; }
    .blogMain .newsContent p {
      color: #FFFFFF;
      margin: 0;
      font-size: 0.7rem;
      line-height: 20px; }
  .blogMain .comments {
    width: 75%;
    margin-bottom: 100px; }
    @media (max-width: 960px) {
      .blogMain .comments {
        width: 60%; } }
    @media (max-width: 360px) {
      .blogMain .comments {
        width: 90%; } }
    .blogMain .comments h4 {
      text-transform: capitalize;
      margin: 30px 0 0; }
      @media (max-width: 720px) {
        .blogMain .comments h4 {
          font-size: 1.75rem; } }
      @media (max-width: 360px) {
        .blogMain .comments h4 {
          font-size: 1.2rem; } }
    .blogMain .comments .userComment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 20px 0 100px; }
      @media (max-width: 940px) {
        .blogMain .comments .userComment {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
    .blogMain .comments .userComment:nth-of-type(2) {
      margin-bottom: 30px; }
    .blogMain .comments .userImage {
      width: 10%; }
      @media (max-width: 940px) {
        .blogMain .comments .userImage {
          width: 30%; } }
      @media (max-width: 500px) {
        .blogMain .comments .userImage {
          width: 50%; } }
    .blogMain .comments .userCommentDescription {
      width: 90%;
      padding: 0 140px 0 20px; }
      @media (max-width: 960px) {
        .blogMain .comments .userCommentDescription {
          padding: 0 0 0 20px; } }
      @media (max-width: 940px) {
        .blogMain .comments .userCommentDescription {
          width: 100%; } }
    .blogMain .comments p:nth-of-type(1) {
      font-weight: bold;
      margin-top: 5px; }
    .blogMain .comments p {
      font-size: 0.8rem;
      line-height: 23px; }
      @media (max-width: 710px) {
        .blogMain .comments p {
          font-size: 0.7rem; } }
    .blogMain .comments form {
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 960px) {
        .blogMain .comments form {
          width: 100%; } }
      @media (max-width: 720px) {
        .blogMain .comments form {
          font-size: 0.7rem; } }
      @media (max-width: 560px) {
        .blogMain .comments form {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .blogMain .comments .name, .blogMain .comments .emailAddress {
      padding: 20px 0 15px 20px;
      width: 45%;
      background: none;
      border: none;
      border-bottom: 1px solid #0CADC0;
      color: #111211;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .blogMain .comments .name:hover, .blogMain .comments .emailAddress:hover {
        border-bottom: 1px solid #21404f;
        opacity: 0.5; }
      .blogMain .comments .name:focus, .blogMain .comments .emailAddress:focus {
        border-bottom: 1px solid #21404f;
        color: #111211; }
      @media (max-width: 560px) {
        .blogMain .comments .name, .blogMain .comments .emailAddress {
          width: 100%; } }
      @media (max-width: 420px) {
        .blogMain .comments .name, .blogMain .comments .emailAddress {
          padding: 20px 10px 15px 10px; } }
    .blogMain .comments .comment {
      resize: none;
      margin-top: 30px;
      padding: 20px 0 15px 20px;
      width: 100%;
      color: #111211;
      background: none;
      border: 1px solid #0CADC0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .blogMain .comments .comment:hover {
        border: 1px solid #21404f;
        opacity: 0.5; }
      .blogMain .comments .comment:focus {
        border-bottom: 1px solid #21404f;
        color: #111211; }
      @media (max-width: 420px) {
        .blogMain .comments .comment {
          padding: 20px 10px 15px 10px; } }
    .blogMain .comments .submit {
      font-family: 'Pacifico', cursive;
      font-size: 1rem;
      color: #21404f;
      margin-top: 30px;
      padding: 5px 0;
      background: #21404f;
      color: #FFFFFF;
      width: 100%;
      border: none;
      -webkit-transition: text-shadow 0.8s, background 0.3s;
      -o-transition: text-shadow 0.8s, background 0.3s;
      transition: text-shadow 0.8s, background 0.3s; }
      .blogMain .comments .submit:hover {
        text-shadow: 2px 2px 1px #21404f;
        background: #0CADC0; }
      @media (max-width: 720px) {
        .blogMain .comments .submit {
          font-size: 0.7rem; } }

footer {
  background: #111211; }
  footer .wrapper {
    padding: 5px 0; }
    footer .wrapper p {
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      color: #21404f;
      margin: 0;
      color: #FFFFFF;
      text-align: center; }
      @media (max-width: 720px) {
        footer .wrapper p {
          font-size: 0.8rem; } }
      @media (max-width: 425px) {
        footer .wrapper p {
          font-size: 0.6rem; } }
