article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.4rem;
  color: #21404f;
  line-height: 64px;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto; }

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.9rem;
  color: #21404f;
  line-height: 68px;
  -webkit-box-flex: 2;
  -ms-flex: 2 0 auto;
  flex: 2 0 auto; }

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.15rem;
  color: #21404f;
  line-height: 58px;
  letter-spacing: 2.7px; }

h4 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #21404f;
  letter-spacing: 4.3px; }

h5 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #21404f;
  text-align: right;
  line-height: 58px;
  letter-spacing: 2.5px; }

h6 {
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  color: #21404f;
  letter-spacing: 2.9px; }

nav {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: '700';
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #21404f;
  line-height: 28px;
  letter-spacing: 2px; }

button {
  font-family: 'Pacifico', cursive;
  font-size: 1.35rem;
  color: #21404f;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px; }

img {
  width: 100%;
  display: block; }

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: #21404f;
  line-height: 24px;
  letter-spacing: 1.7px;
  text-align: left;
  text-transform: capitalize; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid tomato; }

.homeHeader {
  background: url(../../assets/header-home.jpg) bottom right no-repeat fixed;
  background-size: cover;
  min-height: 700px; }

.contactHeader {
  background: url(../../assets/contact-header.jpg) center right no-repeat;
  background-size: cover;
  min-height: 400px; }

.blogHeader {
  background: url(../../assets/blog-header.jpg) right no-repeat;
  background-size: contain;
  min-height: 450px; }

.blogHeader,
.contactHeader,
.homeHeader {
  padding-top: 20px; }
  .blogHeader .wrapper,
  .contactHeader .wrapper,
  .homeHeader .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blogHeader .wrapper .headerLinks,
    .contactHeader .wrapper .headerLinks,
    .homeHeader .wrapper .headerLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .blogHeader .wrapper .headerLinks .logo,
      .contactHeader .wrapper .headerLinks .logo,
      .homeHeader .wrapper .headerLinks .logo {
        -webkit-box-flex: 2;
        -ms-flex: 2 0 auto;
        flex: 2 0 auto;
        width: 63%; }
        .blogHeader .wrapper .headerLinks .logo a,
        .contactHeader .wrapper .headerLinks .logo a,
        .homeHeader .wrapper .headerLinks .logo a {
          color: #21404f;
          -webkit-transition: color 0.3s;
          -o-transition: color 0.3s;
          transition: color 0.3s; }
          .blogHeader .wrapper .headerLinks .logo a:hover,
          .contactHeader .wrapper .headerLinks .logo a:hover,
          .homeHeader .wrapper .headerLinks .logo a:hover {
            color: #0CADC0; }
      .blogHeader .wrapper .headerLinks ul,
      .contactHeader .wrapper .headerLinks ul,
      .homeHeader .wrapper .headerLinks ul {
        width: 37%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .blogHeader .wrapper .headerLinks ul .hLink,
        .contactHeader .wrapper .headerLinks ul .hLink,
        .homeHeader .wrapper .headerLinks ul .hLink {
          text-transform: uppercase;
          color: #21404f;
          -webkit-transition: text-shadow 0.3s;
          -o-transition: text-shadow 0.3s;
          transition: text-shadow 0.3s; }
          .blogHeader .wrapper .headerLinks ul .hLink:hover,
          .contactHeader .wrapper .headerLinks ul .hLink:hover,
          .homeHeader .wrapper .headerLinks ul .hLink:hover {
            padding-bottom: 5px;
            text-shadow: 1px 2px 1px #0CADC0;
            border-bottom: 2px solid #0CADC0; }

.bannerContent {
  background: url(../../assets/banner.jpg) center no-repeat;
  background-size: contain;
  min-height: 500px;
  padding: 1px; }

.contactMain {
  background: #CCEDFB; }
  .contactMain .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .contactMain .customerService {
    width: 75%;
    background: #21404f;
    padding: 35px 50px;
    border: 1px solid tomato;
    position: relative;
    -webkit-box-shadow: 20px 20px #0CADC0;
    box-shadow: 20px 20px #0CADC0;
    bottom: 120px;
    right: 55px; }
    .contactMain .customerService form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .contactMain .customerService .name, .contactMain .customerService .emailAddress {
      padding: 20px 0 15px 20px;
      width: 45%;
      background: none;
      border: none;
      border-bottom: 1px solid #0CADC0;
      color: #FFFFFF;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .contactMain .customerService .name:hover, .contactMain .customerService .emailAddress:hover {
        border-bottom: 1px solid #CCEDFB;
        opacity: 0.5; }
      .contactMain .customerService .name:focus, .contactMain .customerService .emailAddress:focus {
        border-bottom: 1px solid #0CADC0;
        color: #FFFFFF; }
    .contactMain .customerService .message {
      resize: none;
      margin-top: 30px;
      padding: 20px 0 15px 20px;
      width: 100%;
      color: #FFFFFF;
      background: none;
      border: 1px solid #0CADC0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .contactMain .customerService .message:hover {
        border-bottom: 1px solid #CCEDFB;
        opacity: 0.5; }
      .contactMain .customerService .message:focus {
        border-bottom: 1px solid #0CADC0;
        color: #FFFFFF; }
    .contactMain .customerService .submit {
      font-family: 'Pacifico', cursive;
      font-size: 1rem;
      color: #21404f;
      margin-top: 30px;
      background: #FFFFFF;
      width: 100%;
      border: none;
      -webkit-transition: text-shadow 0.8s, background 0.3s;
      -o-transition: text-shadow 0.8s, background 0.3s;
      transition: text-shadow 0.8s, background 0.3s; }
      .contactMain .customerService .submit:hover {
        text-shadow: 2px 1px 1px #0CADC0;
        background: #CCEDFB; }
  .contactMain .contactInfo {
    width: 20%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid tomato; }
    .contactMain .contactInfo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 60%; }
    .contactMain .contactInfo a {
      color: #21404f; }
      .contactMain .contactInfo a:hover {
        text-shadow: 2px 2px 1px #0CADC0; }
    .contactMain .contactInfo p {
      margin: 0;
      line-height: 18px;
      font-family: 'Lato', sans-serif;
      font-size: 0.7rem;
      color: #21404f; }
      .contactMain .contactInfo p:nth-of-type(1) {
        margin: 10px 0; }

footer {
  background: #111211; }
  footer .wrapper {
    padding: 5px 0; }
    footer .wrapper p {
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      color: #21404f;
      margin: 0;
      color: #FFFFFF;
      text-align: center; }
